* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Global style */

.center {
    text-align: center;
}

/*Navigation */
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    padding: 20px;
    z-index: 99;
}

.list-items {
    display: inline;
}

.list-items a {
    padding: 20px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    ;
    color: #fff;
}

.list-items a:hover {
    border-bottom: 2px solid #fff;
}

.nav__logo h2 {
    color: #fff;
    font-size: 2rem;
    text-align: center;
}

span {
    color: #1e38c9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* header/hero area */
.hero {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.616)),
        url(photos/snapedit_1708976211327.png) no-repeat center/cover fixed;
}

.hero__headings-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    ;
    margin-left: 10rem;
    color: #fff;

}

.hero__main-headings {
    font-size: 5rem;
    color: #fff;
}

.hero__headings-container p {
    font-weight: bold;
}

.main-btn {
    text-decoration: none;
    margin-top: 20px;
    color: #fff;
    border-bottom: 2px solid #1e38c9;
    padding-bottom: 5px;
    font-weight: bold;
}

/* SERVICE */

.main-headings {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    font-weight: normal;
    margin: 50px;
    transition-property: all;
    transition-duration: 0.5s;
}

.main-headings:hover {
    transform: skew(30deg);
}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    padding: 20px;
    margin: 20px;
    transition-property: all;
    transition-duration: 1s;
    border: 1px solid #ccc;
}

.card p {
    color: rgb(39, 39, 39);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

.card:hover {
    box-shadow: 2px 2px 2px 2px #ccc;
    transform: scale(1.1);
    cursor: pointer;
}

.card-image {
    width: 600px;
    height: 600px;
}

.img-1 {
    background: url(photos/gettyimages-1761700655.jpeg) no-repeat center/cover;
}

.img-2 {
    background: url(photos/30008698.jpg) no-repeat center/cover;
}

.img-3 {
    background: url(photos/RTX66DZ4.jpg) no-repeat center/cover
}

.img-4 {
    background: url(photos/carlo-ancelotti-2.jpg) no-repeat center/cover;
}

.img-5 {
    background: url(photos/unnamed.png) no-repeat center/cover;
}

.img-6 {
    background: url(photos/230107105224-real-madrid-lineup-010723.jpg) no-repeat center/cover;
}

.img-7 {
    background: url(photos/-1x-1.jpg) no-repeat center/cover;
}

.img-8 {
    background: url(photos/1__S7scqhMXrU6CsAcafAq8g.jpg) no-repeat center/cover;
}

.img-9 {
    background: url(photos/16937547348928.jpg) no-repeat center/cover;
}

.img-10 {
    background: url(photos/240122104951-04-real-madrid-012124.jpg) no-repeat center/cover;
}

.img-11 {
    background: url(photos/TELEMMGLPICT000347677646_16947731509210_trans_NvBQzQNjv4BqRo0U4xU-30oDveS4pXV-Vv4Xpit_DMGvdp2n7FDd82k.webp) no-repeat center/cover;
}

.img-12 {
    background: url(photos/merlin_138716301_7655ceb3-fb5e-4354-821a-bfad8d475786-superJumbo.jpg) no-repeat center/cover;
}

/* WHY US */

.why-us {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.lists-container {
    margin-left: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.list {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px;
}


.list-number p {
    color: #1e38c9;
    text-align: center;
}

.list-info {
    color: rgb(122, 122, 122);
    transition-property: all;
    transition-duration: 0.7s;
}

.list-info:hover {
    transform: scale(1.1);
    font-weight: bold;
}

.owner-image {
    background: url(photos/download\ \(1\).png) no-repeat center;
    width: 300px;
    height: 300px;
    border: 10px solid #1e38c9;
    ;
    border-radius: 50%;
    transition-property: all;
    transition-duration: 1s;

}

.owner-image:hover {
    transform: scale(1.2);
}

/*PROJECT DETALIS */

.project-detalis__container-left,
.project-detalis__container-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.project-detalis-img {
    box-shadow: 10px 10px 5px #1e38c9;
    transition-property: all;
    transition-duration: 1s;
}

.project-detalis-img:hover {
    transform: scale(1.1);
    box-shadow: 20px 20px 10px #1e38c9;
    transform: skew(10deg);
}

.title {
    margin: 40px;
    font-size: 25px;
    font-weight: bold;
    color: #1e38c9;

}

/* FORM */

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10rem 10rem;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    outline: none;
    width: 50%;

}

input:focus {
    border-bottom: 2px solid #1e38c9;

}

.form-btn {
    text-decoration: none;
    border-bottom: 1px solid;
    margin-top: 20px;
    padding: 15px 32px;
    background-color: #fff;
    font-size: 100%;
    box-shadow: 5px 5px 2px #1e38c9;
    border-radius: 10%;
}

/* FOOTER */
footer {
    background-color: #1e38c9;
}

footer p {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 200%;
    padding-top: 10px;
}

.footer-cointainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
}

.social-icons a {
    text-decoration: none;
    padding: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 50%;
}

.social-icons a i {
    font-size: 2em;
    color: #1e38c9;
    opacity: 0.9;
}

/* hover social-media */

.social-icons a:hover {
    background-color: #1e38c9;
    transition: 0.5s;
}

.social-icons a:hover i {
    color: #fff;
    transition: 0.5s;
}

@media only screen and (max-width: 600px) {

    .hero__headings-container {
        justify-content: center;
        align-items: flex-start;
    }

    .hero__main-headings {
        font-size: 2rem;
    }

    .nav__logo {
        display: none;
    }

    .main-headings {
        font-size: 2rem;
    }

    .project-detalis-img {
        margin-bottom: 5rem;
    }

    input {
        width: 20rem;
    }
}